<h3>以下の内容で、送信する</h3>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content%>
  <p>メモ内容:<%= @post.content %></p>
  <%= form.submit "送信"%>
  <%= form.submit "戻る" ,name: 'back'%>
<% end %>